@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@media screen and (max-width: 1300px) {
      body {
            margin: 0;
            padding: 0;
            font-family: 'Montserrat', san-seriff;
            background-image: url("texture.jpg");
            background-attachment: fixed;
            margin-left: 405px;
            user-select: none;
            color: #1c1c1c;
      }

      a {
        text-decoration: none;
      }

      .leftPanel {
        
      }
      
      .panelContainer {
	
      }

      .profilePic img {
	
      }

      .profilePic img:hover {
	
      }

      .nametag {
	
      }

      .nametag h3 {
          
      }

      .nametag:hover {
          
      }

      .tag-shadow {
         
      }

      .social-icons {
          
      }

      .social-icons img {

      }

      .linkedin:hover {
          
      }

      .fb:hover {
          
      }

      .gmail:hover {
	
      }

      .title {
          
      }

      .title h3 {
          
      }

      .title p {

      }

      .summary {

      }

      .summary p {

      }

      .summary h3 {

      }

      #mo {

      }

      .author {

      }

      .author sup {

      }

      .main-container {

      }

      .left-container {

      }

      .right-container {

      }

      .box {

      }

      .box:hover {
      /*	box-shadow: 0px 0px 20px 0px grey;*/
      }

      .contactInfo {

      }

      .contactInfo h3 {

      }

      .contactInfo img {

      }

      .contactInfo h6 {


      }

      .languages img{

      }

      .languages h3 {

      }

      .languages h5 {

      }

      .progressBar {

      }



      .skills {

      }

      .bengali {

      }

      .hindi {

      }

      .english {

      }

      .skillBar img {

      }

      .skillBar h3 {

      }

      .skillBar h5 {

      }

      .xml {

      }

      .xhtml {

      }

      .ebook {

      }

      .ocr {

      }

      .indesign {

      }

      .education img {

      }

      .education h3 {

      }

      .education h5 {

      }

      .employment-history img {

      }

      .employment-history h3 {

      }

      .employment-history h5 {

      }

      .employment-history p {

      }

      .employment-history b {

      }

}